.overflow {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.page {
    min-width: 100%;
    height: 100%;
    font-size: 46px;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.18);
}

.page_1 {
    background-color: royalblue;
    color: #fff;
}

.page_1 img {
    margin-left: 5%;
}

.page_2 {
    background-color: rebeccapurple;
}

.page_2 img {
    margin-left: 5s%;
}

.page_3 {
    background-color: rgb(144, 255, 93);
    color: black;
}

.page_3 img {
    margin-left: 5%;
}

.scroll {
    position: absolute;
    height: 5px;
    width: 0;
    background-color: rebeccapurple;
    top: 0;
    left: 0;
}