body {
    font-family: var(--font1);
}

.overlay {
    margin-top: 0;
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.dash {
    font-size: 41px;
    margin-left: 22%;
    cursor: pointer;
}

.dash:hover {
    color: whitesmoke;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 90%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-content-1:hover {
    background-color: rgb(0, 0, 0);
    /* opacity: 0.5; */
    width: 127px;
}

.overlay a:hover,
.overlay a:focus {
    color: whitesmoke;
}

.overlay .closebtn {
    position: absolute;
    /* top: 20px; */
    color: red;
    left: 90px;
    font-size: 60px;
}

.overlay .closebtn a:hover {
    margin-left: 10px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}